.text2cols {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    }
    
    .text2cols-item {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    height: 48%;
    background: #fff2e1;
    }
    
    .text2cols-item + .textcols-item {
    margin-left: 4%;
    }